/* CSS declarations go here */
body {
  font-family: 'Libre Baskerville', serif;
  background-color: #FFFFFF;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.perfil-candidato {
  max-width: 75%;
  min-height: 100%;
  position: relative;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

#login-buttons {
  display: block;
}

h1, h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 0em;
}

.nombre-candidato, p {
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  margin-top: 5px;
  padding-top: 10px;
}

.paso {
  font-size: 18px;
  padding-right: 5px;
  padding-left: 5px;
}

.img-candidato {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-instrucciones {
  width: 120px;
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-item, .btn {
  font-family: 'Libre Franklin', sans-serif;
}

.inicio {
  margin-top: 10px;
  text-align: center;
}

.instrucciones, .pasos, .candidatos {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
}

.red {
  background-color: #D91424;
  margin-left: 25%;
}

.yellow {
  background-color: #F2CC0C;
  margin-right: 25%;
}

.red-social-logo {
  width: 50px;
  height: auto;
  filter: grayscale(100%);
}

.red-social-logo:hover{
  filter: none;
}

.redes-sociales {
  display: block;
  align-self: right;
}

.titulo-candidato {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 24px;
  text-align: center;
}

.propuesta {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 24px;
  padding-bottom: 40px;
}

.informacion  {
  padding: 40px;
}

.info-estado {
  padding-left: 30px;
}

.informacion-basica {
  font-size: 14px;
  font-family: 'Libre Baskerville', serif;
  padding: 5% 0;
}

.descripcion-propuesta, .categoria-propuesta {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
}


.btn-group-vertical button {
  background-color: #000000; /* Green background */
  border: 1px solid black; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  width: 100%;
  cursor: pointer; /* Pointer/hand icon */
  display: block; /* Make the buttons appear below each other */
  color: white;
}

.btn-group-vertical button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group-vertical button:hover {
  background-color: #5D736B;
}

form {
  margin-top: 10px;

  margin-bottom: -10px;

  position: relative;
}

ul {
  margin: 0;

  padding: 0;

  background: white;
}

li {
  position: relative;

  list-style: none;

  padding: 15px;

  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;

  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;

    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

#login-buttons-open-change-password {
  background-color: red !important;
}
