/* CSS declarations go here */

body {
  font-family: 'Libre Baskerville', serif;
  background-color: #FFFFFF;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

#login-buttons {
  display: block;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.nombre-candidato {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}

.img-candidato {
  width: 180px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-item {
  font-family: 'Libre Franklin', sans-serif;
}

.inicio {
  margin-top: 10px;
  text-align: center;
}

form {
  margin-top: 10px;

  margin-bottom: -10px;

  position: relative;
}

ul {
  margin: 0;

  padding: 0;

  background: white;
}

li {
  position: relative;

  list-style: none;

  padding: 15px;

  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;

  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;

    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}